<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Henrik Ejby</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="TopActivityIndicator" value="white"/>
    <platform name="ios">
        <icon height="180" src="www/img/icon/icon-60@3x.png" width="180" />
        <icon height="87" src="www/img/icon/Icon-Small@3x.png" width="87" />
        <icon height="120" src="www/img/icon/Icon-Small-40@3x.png" width="120" />
        <icon height="180" src="www/img/icon/icon-60@3x.png" width="180" />
        <icon height="60" src="www/img/icon/icon-60.png" width="60" />
        <icon height="120" src="www/img/icon/icon-60@2x.png" width="120" />
        <icon height="76" src="www/img/icon/icon-76.png" width="76" />
        <icon height="152" src="www/img/icon/icon-76@2x.png" width="152" />
        <icon height="40" src="www/img/icon/icon-40.png" width="40" />
        <icon height="80" src="www/img/icon/icon-40@2x.png" width="80" />
        <icon height="57" src="www/img/icon/icon.png" width="57" />
        <icon height="114" src="www/img/icon/icon@2x.png" width="114" />
        <icon height="72" src="www/img/icon/icon-72.png" width="72" />
        <icon height="144" src="www/img/icon/icon-72@2x.png" width="144" />
        <icon height="167" src="www/img/icon/icon-167.png" width="167" />
        <icon height="29" src="www/img/icon/icon-small.png" width="29" />
        <icon height="58" src="www/img/icon/icon-small@2x.png" width="58" />
        <icon height="50" src="www/img/icon/icon-50.png" width="50" />
        <icon height="100" src="www/img/icon/icon-50@2x.png" width="100" />
        <icon height="167" src="www/img/icon/icon-83.5@2x.png" width="167" />
    </platform>

    <platform name="android">
        <icon density="ldpi" src="www/img/icon/icon-ldpi.png" />
        <icon density="mdpi" src="www/img/icon/icon-mdpi.png" />
        <icon density="hdpi" src="www/img/icon/icon-hdpi.png" />
        <icon density="xhdpi" src="www/img/icon/icon-xhdpi.png" />
        <icon density="xxhdpi" src="www/img/icon/icon-xxhdpi.png" />
        <icon density="xxxhdpi" src="www/img/icon/icon-xxxhdpi.png" />
    </platform>

    <platform name="android">
        <splash density="" src="res/screen/Android/drawable/screen.png" />
        <splash density="hdpi" src="res/screen/Android/drawable-hdpi/screen.png" />
        <splash density="land" src="res/screen/Android/drawable-land/screen.png" />
        <splash density="land-hdpi" src="res/screen/Android/drawable-land-hdpi/land-hdpi.png" />
        <splash density="land-ldpi" src="res/screen/Android/drawable-land-ldpi/screen.png" />
        <splash density="land-mdpi" src="res/screen/Android/drawable-land-mdpi/screen.png" />
        <splash density="land-xhdpi" src="res/screen/Android/drawable-land-xhdpi/screen.png" />
        <splash density="land-xxhdpi" src="res/screen/Android/drawable-land-xxhdpi/screen.png" />
        <splash density="land-xxxhdpi" src="res/screen/Android/drawable-land-xxxhdpi/screen.png" />
        <splash density="ldpi" src="res/screen/Android/drawable-ldpi/screen.png" />
        <splash density="mdpi" src="res/screen/Android/drawable-mdpi/screen.png" />
        <splash density="xhdpi" src="res/screen/Android/drawable-xhdpi/screen.png" />
        <splash density="xxhdpi" src="res/screen/Android/drawable-xxhdpi/screen.png" />
        <splash density="xxxhdpi" src="res/screen/Android/drawable-xxxhdpi/screen.png" />
    </platform>

    <platform name="ios">
    <!-- There are two mechanisms for showing launch images.
      -- Legacy method (supports all devices except iPad Pro 12.9):
      -- Note: Images are determined by width and height. The following are supported -->
    <splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
    <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
    <splash src="res/screen/ios/Default-568h@2x~iphone_640x1136.png" width="640" height="1136"/>
    <splash src="res/screen/ios/Default-Landscape~ipad_1024x748.png" width="1024" height="748"/>
    <splash src="res/screen/ios/Default-Landscape~ipad_1024x768.png" width="1024" height="768"/>
    <splash src="res/screen/ios/Default-Landscape@2x~ipad_2048x1496.png" width="2048" height="1496"/>
    <splash src="res/screen/ios/Default-Landscape@2x~ipad_2048x1536.png" width="2048" height="1536"/>
    <splash src="res/screen/ios/Default~ipad.png" width="1536" height="2008"/>
    <splash src="res/screen/ios/Default-Portrait@2x~ipad_1536x2048.png" width="1536" height="2048"/>
    <splash src="res/screen/ios/Default-Portrait@2x~ipad_1536x2008.png" width="1536" height="2008"/>
    <splash src="res/screen/ios/Default.png" width="768" height="1004"/>
    <splash src="res/screen/ios/Default-Portrait~ipad_768x1024.png" width="768" height="1024"/>
    <splash src="res/screen/ios/Default-750@2x~iphone6-portrait_750x1334.png" width="750" height="1334"/>
    <splash src="res/screen/ios/Default-750@2x~iphone6-landscape_1334x750.png" width="1334" height="750"/>
    <splash src="res/screen/ios/Default-1242@3x~iphone6s-portrait_1242x2208.png" width="1242" height="2208"/>
    <splash src="res/screen/ios/Default-1242@3x~iphone6s-landscape_2208x1242.png" width="2208" height="1242"/>
</platform>

    <splash src="www/splash.png" />
    <engine name="android" spec="~6.2.3" />
    <plugin name="cordova-plugin-console" spec="^1.0.7" />
    <plugin name="cordova-plugin-geolocation" spec="^2.4.3" />
    <plugin name="cordova-plugin-splashscreen" spec="^4.0.3" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
